.header
{
    font-family: Roboto, Poppins;
    font-weight: 700;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, #CAE3E1, #027b70);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;

}