<div class="container">
  <div class="login">
    <div class="header-text">
      <h1>Login</h1>
    </div>
    <div class="form">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <input
              type="text"
              placeholder="Username"
              class="form-control"
              name="username"
              ngModel
            />
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              ngModel
            />
            <button type="submit" class="form-control btn btn-submit">
              Sign In
            </button>
            <p>
              Already have an account?
              <span><a routerLink="/login-signup">Sign Up</a> </span>
            </p>
          </form>
    </div>
  </div>
</div>
