.container{
    margin: 50px auto;
}
.card{
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
.card h2{
    text-align: center;
    font-size: 20
    
    px;
    text-transform: uppercase;
}
.card h5{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}
.card-body span{
    color: tomato;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    display: none;
    font-weight: 500;
}

.card:hover span{
    display: block;
}